.list {
  &-item {
    margin-right: 16px;
  }
  &-title {
    font-weight: 400;
    margin-top: 16px;
  }
  &-swiper {
    display: flex;
    overflow-x: scroll;
  }
  &-lines {
    .list-item {
      margin-top: 16px;
    } 
  }
}

.play {
  color: $lightGray;
  border: 1px solid $lightGray;
  background: none;
  border-radius: 15px;
  padding: 0;
  height: 25px;
  display: block;
  width: 25px;
  margin: 4px auto 0 auto;
  font-size: 12px;
  &:disabled {
    opacity: .3;
  }
}

@media (min-width: $sm) {
  .list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    .list-item {
      width: 25%;
      margin: 0 0 16px 0;
    }
  }
}

@media (min-width: $md) {
  .list .list-item {
    width: 20%;
  }
}
